name: Code checks

on:
  pull_request:
    branches:
      - main

jobs:
  code_checks:
    name: Setup and Check Code
    runs-on: ubuntu-latest
    steps:
    - name: Check out repo
      uses: actions/checkout@main
    
    - name: Use Python version 3.11.13
      uses: actions/setup-python@v3
      with:
        python-version: '3.11.13'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run linting tests
      run: | 
        flake8 src/model/

    - name: Run pytest
      run: |
        pytest tests/